{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Todo Items</h2>
      <table>
        {% for item in view_model.todo_items %}
        <tr>
          <td>
            {{ item.title }}
          </td>
          <td>
            <form action="complete_item" method="post">
                <select id="target" name="target">
                    <option value="Todo">Todo</option>
                    <option value="In progress">In progress</option>
                    <option value="Done" selected >Done</option>
                </select>
                <input type="hidden" id="cardId" name="cardId" value={{ item.id }}></item>
                <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <h2>In Progress Items</h2>
      <table>
        {% for item in view_model.in_progress_items %}
        <tr>
          <td>
            {{ item.title }}
          </td>
          <td>
            <form action="complete_item" method="post">
                <select id="target" name="target">
                    <option value="Todo">Todo</option>
                    <option value="In progress">In progress</option>
                    <option value="Done" selected >Done</option>
                </select>
                <input type="hidden" id="cardId" name="cardId" value={{ item.id }}></item>
                <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <h2>Done Items</h2>
      <table>
        {% for item in view_model.done_items %}
        <tr>
          <td>
            {{ item.title }}
          </td>
          <td>
            <form action="complete_item" method="post">
                <select id="target" name="target">
                    <option value="Todo">Todo</option>
                    <option value="In progress">In progress</option>
                    <option value="Done" selected >Done</option>
                </select>
                <input type="hidden" id="cardId" name="cardId" value={{ item.id }}></item>
                <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <form action="" method="post">
        <input type="text" id="item" name="item">
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
{% endblock %}